<div class="add-tag-div">
    <div class="form-group">
        <form id="new-item-form">
            <div class="row">
                <div class="col-sm">
                    <label>Name</label>
                    <input name="name" class="form-control name"
                           aria-describedby="name-help">
                    <small id="name-help" class="form-text text-muted mb-3">Enter a unique tag name.
                    </small>
                </div>
                <div class="col-sm">
                    <label>Tag Color</label><br>
                    <input class="btn color-picker-button" value="#da4302ff">
                    <div class="color-picker-colors" style="display:none;">
                        <button class="btn color-button" data-value="#FFEA00"
                                style="background-color:#FFEA00;"></button>
                        <button class="btn color-button" data-value="#64DD17"
                                style="background-color:#64DD17;"></button>
                        <button class="btn color-button" data-value="#303F9F"
                                style="background-color:#303F9F;"></button>
                        <button class="btn color-button" data-value="#00BCD4"
                                style="background-color:#00BCD4;"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">

                    {% for mod_name, mod_dict in specs.mods_enabled.items() %}
                    {% for k, v in mod_dict.items() %}
                    <label>{{ k }}</label>
                    <input name="{{ k }}" class="form-control m-input"
                           aria-describedby="name-help" placeholder="Ex. {{ v }}">
                    {% endfor %}

                    {% endfor %}
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm text-center">
                <button class="btn btn-primary save-tag mt-2" data-type="tags">Save</button>
            </div>

        </div>

    </div>
</div>