{% extends "wrapper.html" %}
{% block content %}
<div class="row-special">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/config/input">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3.646 6.646a.5.5 0 01.708 0L10 12.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Inputs
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/config/modules">
                        <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 20 20"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Modules
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/config/output">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3.646 6.646a.5.5 0 01.708 0L10 12.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Outputs
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ config_type }} definitions</h1>
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add new {{ config_type }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for item_type, item_obj in item_types.items() %}
                    <a class="dropdown-item add-item" data-target="#exampleModal" data-toggle="modal"
                       data-type="{{ config_type }}" data-module="{{ item_type }}">{{ item_obj.pretty_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for item_type, item_obj in item_types.items() %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new {{ item_obj.pretty_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for option in item_obj.module_options.get_spec() %}
                        {{ option.name }}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% for item in items %}
        <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                <img src="{{ url_for('static', filename=item.image) }}" width="200px" alt="">
            </div>
            <div class="card-block p-3">
                <h4 class="card-title">{{ item.name }}</h4>
                <p class="card-text">
                    {% for key, value in item.module_options.get_all_nice().items() %}
                    {{ value }} <span class="px-1">•</span>
                    {% endfor %}
                </p>
                <div class="btn-group" role="group" aria-label="Options">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-primary" id="delete">Delete</button>
                </div>
            </div>
            <div class="w-100"></div>
        </div>

        {% endfor %}
    </main>

</div>
{% endblock %}