{% extends "wrapper.html" %}
{% block content %}
<div class="container-flex p-3">
    <div class="row">
        <div class="col-sm">
            <h3>{{ job.name }}<br>
                <small>{{ job.queued }} hosts queued for identification<br></small>
                <small>Started at {{ job.start_time }}</small>
            </h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{ job.completed_percent }}%"
                     aria-valuenow="{{ job.completed_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>


    <div class="result bg-light p-2">

        <div class="row text-center">
            <div class="col">
            </div>
            <div class="col-6 text-center">
                <button type="button" class="btn btn-primary btn-sm prev-page"><</button>
                <button type="button" class="btn btn-primary btn-sm next-page">></button>
            </div>
            <div class="col text-right">
                <small>Page
                    <div class="page-number">0</div>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}